<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <%= title %>

    <form action="/register/verify" method="post">
        <input type="hidden" name="username" value="<%= username >">
        <p>
            <label>Email Address</label>
            <input type="email" name="email" value="<%= email %>" required readonly>
        </p>
        <p>
            <label>Enter otp</label>
            <input type="text" name="otp" required>
        </p>
        
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
    <form method="POST" action="resend">
        <input type="hidden" name="username" value="<%= username >">
        <p class="full">
          <button type="submit">Resend OTP</button>
        </p>
    </form>
</body>
</html>